.Paragraph-Style,.Character-Style
{
	font-family: dosis-n3, sans-serif;
}

#u393-4
{
	font-family: dosis-n5, sans-serif;
}

#u378-4
{
	font-family: dosis-n5, sans-serif;
}

#u371-4
{
	font-family: dosis-n5, sans-serif;
}

#u387-4
{
	font-family: dosis-n5, sans-serif;
}

#u401-4
{
	font-family: dosis-n5, sans-serif;
}

#u525-4,#u984-4
{
	font-family: dosis-n5, sans-serif;
}

#u1597-2,#u555-4,#u987-4
{
	font-family: dosis-n5, sans-serif;
}

#u610-4,#u1328-4
{
	font-family: dosis-n5, sans-serif;
}

#u320-4,#u1003-4
{
	font-family: dosis-n5, sans-serif;
}

#u533-13,#u1597-8,#u552-4,#u554-4,#u550-4,#u548-4,#u570-4,#u571-4,#u546-4,#u545-4,#u328-4,#u327-14,#u330-4,#u331-10,#u323-4,#u324-14,#u303-8
{
	font-family: dosis-n4, sans-serif;
}

#u306-4:hover p
{
	font-family: questrial-n4, sans-serif;
}

#u306-4:active p,#u306-4
{
	font-family: questrial-n4, sans-serif;
}

#u302-4,#u1007-4
{
	font-family: dosis-n5, sans-serif;
}

#u367-4,#u198,#u283-4
{
	font-family: dosis-n2, sans-serif;
}

