.version.index /* version checker */
{
	color: #00000D;
	background-color: #3D4DF5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 4900px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 24px;
	width: 0.01px;
}

#u362
{
	z-index: 202;
	min-height: 725px;
	background: #3F3F3F url("../images/capt_0006_03_aa-u362-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.75);
	background-size: cover;
}

#u362_position_content
{
	padding-bottom: 119px;
}

#top
{
	left: 120px;
	position: relative;
}

#u1087
{
	z-index: 240;
	width: 980px;
	background-color: transparent;
	left: 120px;
	margin-top: 163px;
	position: relative;
}

#u367-4
{
	z-index: 203;
	width: 980px;
	min-height: 14px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 12px;
	text-align: center;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-size: 10px;
	font-family: dosis, sans-serif;
	font-weight: 200;
	left: 120px;
	margin-top: 53px;
	position: relative;
}

#menuu368
{
	z-index: 207;
	width: 885px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 167px;
	margin-top: 22px;
	position: relative;
}

#u390
{
	width: 162px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u391
{
	width: 162px;
	background-color: #BFD7ED;
	background-color: rgba(0,96,184,0.25);
	padding-bottom: 5px;
	position: relative;
	-pie-background: rgba(0,96,184,0.25);
}

#u391:hover
{
	background-color: #E4C9E3;
	background-color: rgba(147,39,143,0.25);
	width: 162px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(147,39,143,0.25);
}

#u391:active
{
	background-color: #E4C9E3;
	background-color: rgba(147,39,143,0.25);
	width: 162px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(147,39,143,0.25);
}

#u391.MuseMenuActive
{
	background-color: #BFD7ED;
	background-color: rgba(0,96,184,0.25);
	width: 162px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0,96,184,0.25);
}

#u393-4
{
	width: 67px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 47px;
}

#u391:hover #u393-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u391:active #u393-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u391.MuseMenuActive #u393-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u391:active #u393-4 p
{
	color: #000000;
	visibility: inherit;
}

#u376
{
	width: 196px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 164px;
}

#u377
{
	width: 196px;
	background-color: #BFD7ED;
	background-color: rgba(0,96,184,0.25);
	padding-bottom: 5px;
	position: relative;
	-pie-background: rgba(0,96,184,0.25);
}

#u377:hover
{
	background-color: #E4C9E3;
	background-color: rgba(147,39,143,0.25);
	width: 196px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(147,39,143,0.25);
}

#u377:active
{
	background-color: #E4C9E3;
	background-color: rgba(147,39,143,0.25);
	width: 196px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(147,39,143,0.25);
}

#u377.MuseMenuActive
{
	background-color: #BFD7ED;
	background-color: rgba(0,96,184,0.25);
	width: 196px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0,96,184,0.25);
}

#u378-4
{
	width: 102px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 47px;
}

#u377:hover #u378-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u377:active #u378-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u377.MuseMenuActive #u378-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u377:active #u378-4 p
{
	color: #000000;
	visibility: inherit;
}

#u369
{
	width: 184px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 362px;
}

#u370
{
	width: 184px;
	background-color: #BFD7ED;
	background-color: rgba(0,96,184,0.25);
	padding-bottom: 5px;
	position: relative;
	-pie-background: rgba(0,96,184,0.25);
}

#u370:hover
{
	background-color: #E4C9E3;
	background-color: rgba(147,39,143,0.25);
	width: 184px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(147,39,143,0.25);
}

#u370:active
{
	background-color: #E4C9E3;
	background-color: rgba(147,39,143,0.25);
	width: 184px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(147,39,143,0.25);
}

#u370.MuseMenuActive
{
	background-color: #BFD7ED;
	background-color: rgba(0,96,184,0.25);
	width: 184px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0,96,184,0.25);
}

#u371-4
{
	width: 90px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 47px;
}

#u370:hover #u371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u370:active #u371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u370.MuseMenuActive #u371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u370:active #u371-4 p
{
	color: #000000;
	visibility: inherit;
}

#u383
{
	width: 150px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 548px;
}

#u386
{
	width: 150px;
	background-color: #BFD7ED;
	background-color: rgba(0,96,184,0.25);
	padding-bottom: 5px;
	position: relative;
	-pie-background: rgba(0,96,184,0.25);
}

#u386:hover
{
	background-color: #E4C9E3;
	background-color: rgba(147,39,143,0.25);
	width: 150px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(147,39,143,0.25);
}

#u386:active
{
	background-color: #E4C9E3;
	background-color: rgba(147,39,143,0.25);
	width: 150px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(147,39,143,0.25);
}

#u386.MuseMenuActive
{
	background-color: #BFD7ED;
	background-color: rgba(0,96,184,0.25);
	width: 150px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0,96,184,0.25);
}

#u387-4
{
	width: 56px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 47px;
}

#u386:hover #u387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u386:active #u387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u386.MuseMenuActive #u387-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u386:active #u387-4 p
{
	color: #000000;
	visibility: inherit;
}

#u397
{
	width: 185px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#u398
{
	width: 185px;
	background-color: #BFD7ED;
	background-color: rgba(0,96,184,0.25);
	padding-bottom: 5px;
	position: relative;
	-pie-background: rgba(0,96,184,0.25);
}

#u398:hover
{
	background-color: #E4C9E3;
	background-color: rgba(147,39,143,0.25);
	width: 185px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(147,39,143,0.25);
}

#u398:active
{
	background-color: #E4C9E3;
	background-color: rgba(147,39,143,0.25);
	width: 185px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(147,39,143,0.25);
}

#u398.MuseMenuActive
{
	background-color: #BFD7ED;
	background-color: rgba(0,96,184,0.25);
	width: 185px;
	min-height: 0px;
	margin: 0px;
	-pie-background: rgba(0,96,184,0.25);
}

#u401-4
{
	width: 91px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 47px;
}

#u398:hover #u401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u398:active #u401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u398.MuseMenuActive #u401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u398:active #u401-4 p
{
	color: #000000;
	visibility: inherit;
}

#u391.MuseMenuActive #u393-4 p,#u377.MuseMenuActive #u378-4 p,#u370.MuseMenuActive #u371-4 p,#u386.MuseMenuActive #u387-4 p,#u398.MuseMenuActive #u401-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u362-bw
{
	z-index: 202;
	min-height: 725px;
}

#u526
{
	z-index: 192;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 385px;
	margin-top: 23px;
	position: relative;
}

#u527
{
	z-index: 193;
	width: 100px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 75px;
	position: relative;
}

#u529
{
	z-index: 194;
	width: 150px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u528
{
	z-index: 195;
	width: 250px;
	height: 1px;
	background-color: #CCCCCC;
	margin-top: 9px;
	position: relative;
}

#about
{
	margin-left: 20px;
	margin-top: 54px;
	position: relative;
}

#pu525-4
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: -5px;
}

#u525-4
{
	z-index: 188;
	width: 980px;
	min-height: 47px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 13px;
}

#buttonu983
{
	z-index: 197;
	width: 80px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#buttonu983:hover
{
	width: 80px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u984-4
{
	z-index: 198;
	width: 55px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	letter-spacing: 1px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 13px;
}

#buttonu983:hover #u984-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 55px;
	margin: 5px -10000px 0px 0px;
}

#buttonu983:active #u984-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 55px;
	margin: 5px -10000px 0px 0px;
}

#buttonu983.ButtonSelected #u984-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 55px;
	margin: 5px -10000px 0px 0px;
}

#buttonu983:hover #u984-4 p
{
	color: #93278F;
	visibility: inherit;
}

#buttonu983:active #u984-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u534
{
	z-index: 186;
	width: 910px;
	height: 194px;
	border-width: 15px;
	border-style: solid;
	border-color: #EFF1F2;
	position: fixed;
	top: 913px;
	left: 40px;
	background: transparent url("../images/002.jpg") no-repeat center center;
	background-size: cover;
}

#u535
{
	z-index: 184;
	height: 15px;
	background-color: #93278F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u535-bw
{
	z-index: 184;
	margin-top: 128px;
	height: 15px;
}

#u533-8
{
	z-index: 176;
	width: 832px;
	min-height: 121px;
	background-color: transparent;
	color: #474747;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-left: 94px;
	margin-top: 114px;
	position: relative;
}

#u573
{
	z-index: 187;
	width: 910px;
	height: 194px;
	border-width: 15px;
	border-style: solid;
	border-color: #EFF1F2;
	position: fixed;
	top: 1330px;
	left: 40px;
	background: transparent url("../images/capt_0007_02.jpg") no-repeat center center;
	background-size: cover;
}

#u574
{
	z-index: 185;
	height: 15px;
	background-color: #93278F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u574-bw
{
	z-index: 185;
	margin-top: 114px;
	height: 15px;
}

#u556
{
	z-index: 151;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 385px;
	margin-top: 124px;
	position: relative;
}

#u559
{
	z-index: 152;
	width: 100px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 75px;
	position: relative;
}

#u557
{
	z-index: 153;
	width: 150px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u558
{
	z-index: 154;
	width: 250px;
	height: 1px;
	background-color: #CCCCCC;
	margin-top: 9px;
	position: relative;
}

#features
{
	margin-left: 20px;
	margin-top: 64px;
	position: relative;
}

#pu555-4
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: -7px;
}

#u555-4
{
	z-index: 103;
	width: 980px;
	min-height: 47px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 13px;
}

#buttonu986
{
	z-index: 171;
	width: 80px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#buttonu983.ButtonSelected,#buttonu986:hover
{
	width: 80px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u987-4
{
	z-index: 172;
	width: 55px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	letter-spacing: 1px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 13px;
}

#buttonu986:hover #u987-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 55px;
	margin: 7px -10000px 0px 0px;
}

#buttonu986:active #u987-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 55px;
	margin: 7px -10000px 0px 0px;
}

#buttonu986:hover #u987-4 p
{
	color: #93278F;
	visibility: inherit;
}

#buttonu986:active #u987-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#pu551
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 44px;
}

#u551
{
	z-index: 121;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u553
{
	z-index: 130;
	width: 175px;
	height: 175px;
	border-radius: 100px 0px 100px 0px ;
	margin-left: 25px;
	position: relative;
	background: transparent url("../images/041-u553-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u552-4
{
	z-index: 126;
	width: 225px;
	min-height: 41px;
	background-color: transparent;
	color: #8748A3;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u554-4
{
	z-index: 122;
	width: 225px;
	min-height: 100px;
	background-color: transparent;
	color: #474747;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u547
{
	z-index: 131;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 255px;
}

#u549
{
	z-index: 140;
	width: 175px;
	height: 175px;
	border-radius: 200px;
	margin-left: 25px;
	position: relative;
	background: transparent url("../images/neuromancer-film-1200x630-c-u549-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u550-4
{
	z-index: 136;
	width: 225px;
	min-height: 41px;
	background-color: transparent;
	color: #8748A3;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 23px;
	position: relative;
}

#u548-4
{
	z-index: 132;
	width: 225px;
	min-height: 100px;
	background-color: transparent;
	color: #474747;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u568
{
	z-index: 141;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 500px;
}

#u569
{
	z-index: 150;
	width: 175px;
	height: 175px;
	border-radius: 200px;
	margin-left: 25px;
	position: relative;
	background: transparent url("../images/neuromancer-film-1200x630-c-u549-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u570-4
{
	z-index: 146;
	width: 225px;
	min-height: 41px;
	background-color: transparent;
	color: #8748A3;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 23px;
	position: relative;
}

#u571-4
{
	z-index: 142;
	width: 225px;
	min-height: 100px;
	background-color: transparent;
	color: #474747;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u543
{
	z-index: 111;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 755px;
}

#u544
{
	z-index: 120;
	width: 175px;
	height: 175px;
	border-radius: 0px 100px 0px 100px ;
	margin-left: 25px;
	position: relative;
	background: transparent url("../images/102_4643fb%202-u544-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u546-4
{
	z-index: 116;
	width: 225px;
	min-height: 41px;
	background-color: transparent;
	color: #8748A3;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u545-4
{
	z-index: 112;
	width: 225px;
	min-height: 100px;
	background-color: transparent;
	color: #474747;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u606
{
	z-index: 155;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 385px;
	margin-top: 219px;
	position: relative;
}

#u609
{
	z-index: 156;
	width: 100px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 75px;
	position: relative;
}

#u608
{
	z-index: 157;
	width: 150px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u607
{
	z-index: 158;
	width: 250px;
	height: 1px;
	background-color: #CCCCCC;
	margin-top: 9px;
	position: relative;
}

#u610-4
{
	z-index: 107;
	width: 980px;
	min-height: 47px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 52px;
	position: relative;
}

#pamphletu964
{
	z-index: 162;
	width: 0.01px;
	height: 415px;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#u969
{
	z-index: 163;
	width: 201px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
}

#u971
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#u971:hover
{
	border-color: #999999;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u971.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #DEDEDE;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u970
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #C4C4C4;
	left: 70px;
}

#u970:hover
{
	border-color: #999999;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u970.PamphletThumbSelected
{
	border-color: #999999;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u972
{
	position: absolute;
	width: 59px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999;
	left: 140px;
}

#u972:hover
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u972.PamphletThumbSelected
{
	border-color: #6B6B6B;
	width: 59px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u973
{
	position: absolute;
	width: 981px;
	background-color: transparent;
}

#u973popup
{
	z-index: 167;
}

#u976
{
	z-index: 168;
	width: 979px;
	height: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	margin-right: -10000px;
	position: relative;
}

#u975
{
	z-index: 169;
	width: 979px;
	height: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #C4C4C4;
	margin-right: -10000px;
	position: relative;
}

#u974
{
	z-index: 170;
	width: 979px;
	height: 359px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u979
{
	z-index: 12;
	min-height: 512px;
	background-color: #EFF1F2;
	padding-bottom: 53px;
}

#u979_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	margin-bottom: -24px;
}

#u958
{
	z-index: 161;
	width: 980px;
	min-height: 398px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 120px;
}

#u979-bw
{
	z-index: 12;
	min-height: 512px;
	margin-top: -24px;
}

#u333
{
	z-index: 88;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 385px;
	margin-top: 76px;
	position: relative;
}

#u335
{
	z-index: 89;
	width: 100px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 75px;
	position: relative;
}

#u336
{
	z-index: 90;
	width: 150px;
	height: 1px;
	background-color: #CCCCCC;
	margin-left: 50px;
	margin-top: 10px;
	position: relative;
}

#u334
{
	z-index: 91;
	width: 250px;
	height: 1px;
	background-color: #CCCCCC;
	margin-top: 9px;
	position: relative;
}

#team
{
	margin-left: 20px;
	margin-top: 34px;
	position: relative;
}

#pu320-4
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: -8px;
}

#u320-4
{
	z-index: 31;
	width: 980px;
	min-height: 47px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 13px;
}

#buttonu1002
{
	z-index: 93;
	width: 80px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#buttonu986.ButtonSelected,#buttonu1002:hover
{
	width: 80px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1002.ButtonSelected
{
	width: 80px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1003-4
{
	z-index: 94;
	width: 55px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	letter-spacing: 1px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 13px;
}

#buttonu986.ButtonSelected #u987-4,#buttonu1002:hover #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 55px;
	margin: 7px -10000px 0px 0px;
}

#buttonu1002:active #u1003-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 55px;
	margin: 7px -10000px 0px 0px;
}

#buttonu1002:hover #u1003-4 p
{
	color: #93278F;
	visibility: inherit;
}

#buttonu1002:active #u1003-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u325
{
	z-index: 54;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: fixed;
	top: 3682px;
	left: 20px;
}

#u326
{
	z-index: 72;
	width: 230px;
	height: 230px;
	border-radius: 200px;
	margin-left: 45px;
	position: relative;
	background: transparent url("../images/041-u326-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u328-4
{
	z-index: 68;
	width: 320px;
	min-height: 41px;
	background-color: transparent;
	color: #8748A3;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 29px;
	position: relative;
}

#u327-13
{
	z-index: 55;
	width: 320px;
	min-height: 175px;
	background-color: transparent;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#u329
{
	z-index: 73;
	width: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 367px;
	margin-top: 39px;
	position: relative;
}

#u332
{
	z-index: 87;
	width: 230px;
	height: 230px;
	border-radius: 200px;
	margin-left: 28px;
	position: relative;
	background: transparent url("../images/neuromancer-film-1200x630-c-ieu332-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/neuromancer-film-1200x630-c.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u330-4
{
	z-index: 83;
	width: 285px;
	min-height: 41px;
	background-color: transparent;
	color: #8748A3;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 29px;
	position: relative;
}

#u331-9
{
	z-index: 74;
	width: 285px;
	min-height: 175px;
	background-color: transparent;
	color: #474747;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u321
{
	z-index: 35;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3682px;
	left: 680px;
}

#u322
{
	z-index: 53;
	width: 230px;
	height: 230px;
	border-radius: 200px;
	margin-left: 45px;
	position: relative;
	background: transparent url("../images/102_4643fb%202-u322-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u323-4
{
	z-index: 49;
	width: 320px;
	min-height: 41px;
	background-color: transparent;
	color: #8748A3;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 29px;
	position: relative;
}

#u324-13
{
	z-index: 36;
	width: 320px;
	min-height: 175px;
	background-color: transparent;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-top: 12px;
	position: relative;
}

#u327-11,#u324-11
{
	color: #7F7F7F;
}

#pu301
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 1px;
}

#u301
{
	z-index: 11;
	min-height: 564.8000000000002px;
	background-color: #EFF1F2;
	padding-bottom: 0px;
}

#u301_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 59px;
	padding-bottom: 7px;
}

#u302-4
{
	z-index: 13;
	width: 980px;
	min-height: 47px;
	background-color: transparent;
	text-transform: uppercase;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	left: 120px;
	position: relative;
}

#u303-8
{
	z-index: 17;
	width: 858px;
	min-height: 93px;
	background-color: transparent;
	color: #474747;
	text-align: center;
	font-size: 17px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	left: 181px;
	margin-top: 274px;
	position: relative;
}

#u327-2,#u327-4,#u327-6,#u327-8,#u324-2,#u324-4,#u324-6,#u324-8,#u303-2
{
	color: #474747;
}

#pu952
{
	width: 0.01px;
	left: 120px;
	margin-top: 6px;
	position: relative;
}

#u952
{
	z-index: 160;
	width: 150px;
	min-height: 79px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u306-4
{
	z-index: 27;
	width: 250px;
	min-height: 34px;
	background-color: #000000;
	padding-top: 11px;
	color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-family: questrial, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 365px;
}

#u306-4:hover
{
	background-color: #93278F;
	padding-top: 11px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 250px;
	margin: 12px -10000px 0px 0px;
}

#u306-4:active
{
	background-color: #C1272D;
	padding-top: 11px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 250px;
	margin: 12px -10000px 0px 0px;
}

#u306-4:hover p
{
	font-family: questrial, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u306-4:active p
{
	font-family: questrial, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u301-bw
{
	z-index: 11;
	min-height: 564.8000000000002px;
}

#u304
{
	z-index: 25;
	height: 15px;
	background-color: #93278F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u304-bw
{
	z-index: 25;
	margin-top: 236px;
	height: 15px;
}

#buttonu1006
{
	z-index: 98;
	width: 80px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 107px;
}

#buttonu1006:hover
{
	width: 80px;
	min-height: 0px;
	margin: 52px -10000px 0px 0px;
}

#buttonu1006.ButtonSelected
{
	width: 80px;
	min-height: 0px;
	margin: 52px -10000px 0px 0px;
}

#u1007-4
{
	z-index: 99;
	width: 55px;
	min-height: 23px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	letter-spacing: 1px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 13px;
}

#buttonu1002.ButtonSelected #u1003-4,#buttonu1006:hover #u1007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 55px;
	margin: 7px -10000px 0px 0px;
}

#buttonu1006:active #u1007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 55px;
	margin: 7px -10000px 0px 0px;
}

#buttonu1006.ButtonSelected #u1007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 55px;
	margin: 7px -10000px 0px 0px;
}

#buttonu1006:hover #u1007-4 p
{
	color: #93278F;
	visibility: inherit;
}

#buttonu1006:active #u1007-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#buttonu983.ButtonSelected #u984-4 p,#buttonu986.ButtonSelected #u987-4 p,#buttonu1002.ButtonSelected #u1003-4 p,#buttonu1006.ButtonSelected #u1007-4 p
{
	color: #000000;
	visibility: inherit;
}

#contact
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 120px;
}

#u305
{
	z-index: 26;
	width: 910px;
	height: 194px;
	border-width: 15px;
	border-style: solid;
	border-color: #EFF1F2;
	position: fixed;
	top: 4302px;
	left: 40px;
	background: transparent url("../images/screenshot%202016-01-21%20at%20113223%20copy.jpg") no-repeat center center;
	background-size: cover;
}

#u174
{
	z-index: 2;
	min-height: 120px;
	padding-bottom: 63px;
	background: #FFFFFF url("../images/screenshot%202015-11-30%20at%20152319%20copy-u174-fr.png") no-repeat center center;
	background-color: rgba(255,255,255,0.25);
	background-size: cover;
}

#u174::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 150px #FFFFFF, inset 0px 0px 150px #FFFFFF;
}

#u362_align_to_page,#u174_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u198-4
{
	z-index: 3;
	width: 980px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 120px;
}

#u198
{
	color: #93278F;
	font-family: dosis, sans-serif;
	font-weight: 200;
}

#u174-bw
{
	z-index: 2;
	min-height: 120px;
}

#u283-4
{
	z-index: 7;
	width: 980px;
	min-height: 22px;
	border-style: none;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 12px;
	font-family: dosis, sans-serif;
	font-weight: 200;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

